{% extends "base.html" %}
{% block content %}
    <Body>
    <h1>Edit Lab</h1>
    <br/>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <form method="post" action="">
        {% csrf_token %}
            <div class="form-group">
                    <label for="lab_course">Course Name</label>
                    <input type="text" class="form-control" name="lab_course" placeholder="example: CS-361">
            </div>
            <br/>
            <div class="form-group">
                <label for="lab_section">Lab Section</label>
                <input type="text" class="form-control" name="lab_section" placeholder="example: 001">
            </div>
            <br/>
            <div class="form-group">
                <label for="lab_days">Days of the Week</label>
                <input type="text" class="form-control" name="lab_days" aria-describedby="days_help" placeholder="example: M/W/F">
                <small id="days_help" class="form-text text-muted">Represented as M/T/W/T/F/S/U and O for online.</small>
             </div>
            <br/>
            <div class="form-group">
                <label for="lab_time">Lab Time</label>
                <input type="text" class="form-control" name="lab_time" aria-describedby="time_help" placeholder="example: 13:00-14:45">
                <small id="time_help" class="form-text text-muted">Represented in military time.</small>
            </div>
            <br/>
            {% if return_statement != None %}
            <div class="alert alert-warning fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Attention: </strong> {{ return_statement }}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-danger">Submit</button>
            <br/>
            <br/>
        </form>
        </div>
    </div>

    <div id="out">{{out|safe}}</div>
    </Body>

{% endblock content %}