{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View TAs</title>
    </head>
    <body>
        <br />
        {% if course_list is "Failed to view ta assignments. No current user" %}
            {{ course_list }}
        {% else %}
            <table>
                {% for course in course_list %}
                    <tr>
                         <td>
                            Course: {{ course.name }}
                        </td>
                        <td>
                            TA: {{ course.tas }}
                        </td>
                        <td>
                            Instructor: {{ course.instructor }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </body>
</html>
{% endblock content %}