{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View Courses</title>
    </head>
    <body>
        <br />
        {% if course_list is "Failed to view course assignments. No current user" or course_list is "Failed to view course assignments. Insufficient permissions"%}
            {{ course_list }}
        {% else %}
            <table>
                {% for course in course_list %}
                    <tr>
                         <td>
                            Course: {{ course.name }}
                        </td>
                        <td>
                            Section: {{ course.section }}
                        </td>
                        <td>
                            Instructor: {{ course.instructor }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </body>
</html>
{% endblock content %}