{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <h1>{{ header }}</h1>
    </head>
    <body>
        <br />
         <div class="row">
            <div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
                {% if course_list is "Failed to view ta assignments. No current user" %}
                    {{ course_list }}
                {% else %}
                    <table>
                        {% for course in course_list %}
                            <tr>
                                 <td>
                                    Course: {{ course.name }}
                                </td>
                                <td>
                                    TA: {{ course.tas }}
                                </td>
                                <td>
                                    Instructor: {{ course.instructor }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
         </div>

    </body>
</html>
{% endblock content %}